<!DOCTYPE html>
<html>
<head>
    <title>Songs List</title>
</head>
<body>
    <h1>Songs List</h1>
    <table>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Song_url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model.songList)
            {
                <tr>
                    <td>@song.ArtistName</td>
                    <td>@song.SongName</td>
                    <td>@song.SongUrl</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>